<div id="content-header">
  <h1>Statistik</h1>
</div>

<div id="breadcrumb">
  <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Dashboard</a>
  <a href="#" class="current">Statistik</a>
</div>

<br/>
<div class="row">
  <div class="span6">
  <p>
  <a href="<%= url_for(:action => 'common') %>"><i class="icon icon-signal"></i> Allgemein</a>
  
  </p>
  
  <p>
  <a href="<%= url_for(:action => 'single') %>"><i class="icon icon-signal"></i> Einzelne Rufsäulen</a>
  </p>
  </div>
</div>