 <div class="btn-group">
 	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
 		<%= t('actions.actions') %>
 		<span class="caret"></span>
 	</a>
 	<ul class="dropdown-menu">
 		<li><%= link_to("<i class=\"icon-play-circle\"></i> #{t('call_box.test_sound')}".html_safe,{:action => 'test_sound',:id => box.id},{:remote => true}) %></li>
 </ul>
</div>